# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Bai_thi_Module3\ManagerSP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
